.navigation-bar
	.jaz-icon.fade-in-1
	.navigation-bar-content
		.pull-left
			h2 Jaz Singh
		.pull-right.social-links
			a(
				href="http://www.linkedin.com/in/jazeee"
				target="_blank"
			)
				h2
					i.fa.fa-linkedin-square
		.pull-right.social-links
			a(
				href="https://github.com/jazeee"
				target="_blank"
			)
				h2
					i.fa.fa-github-square
