.skills
	.row
		.col-sm-12.skill-groups
			.btn-group
				button.btn.btn-primary(
					ng-repeat="skillType in skillTypes"
					ng-class="{active: skillType == activeSkillType}"
					ng-click="setActiveSkillType(skillType)"
				) {{skillType}}
	.row.skill-charts-area
		.col-sm-6
			h2 Weighted Skills
			p Larger wedges indicate strong current skills
			#skills-pie-chart.skill-chart-area
		.col-sm-6
			h2 Relative Skill Level
			p My assessment of skill level when compared to peers
			#skills-series-chart.skill-chart-area
