.about-me
	.about-jaz-header-block
		.row
			.skills-header-overlay
				h2 Full Stack Web Developer
				h4 Primary Developer Skills (Sorted by skill level)
				ul(ng-controller="SkillsController")
					li(ng-repeat='skillName in domainSkillNames["WebApp"]')
						| {{skillName}}
				a(
					href="http://goo.gl/qWsPm"
					target="_blank"
				) Resume
	skill-set
	projects
