doctype
html(ng-app="webapp")
	head
		include partials/header.jade
		include partials/includes.jade
		include partials/includes-app.jade
	body.jaz-site
		navigation-bar
		section.main-view(ui-view autoscroll='false')
		.copyright-disclaimer
			span Copyright &copy; Jaz Singh. All rights reserved.
			span Site developed by Jaz Singh
