doctype
html(ng-app="webapp")
	head
		include partials/header.jade
		include partials/includes-styles.jade
	body.jaz-site
		include ../components/navigation/navigation.jade
		section.main-view(ui-view autoscroll='false')
		.copyright-disclaimer
			span Copyright &copy; Jaz Singh. All rights reserved.
			span Site developed by Jaz Singh
		include partials/includes.jade
		include partials/includes-app.jade
